{% extends "base.html" %}
{% set person = person %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ person }} {{ person }} {{ person }}</title>
</head>
<body>
    {% block h1_text %}
    Dear {{ person }}:
    {% endblock %}
    {% block para_text %}You have made me very very sad.<br>
        I have been lonely and left to dry!!! This is all your fault!! Make it up to me!!
        <i>On second thought, if you want to get out of this, you can buy me sashimi.</i>
    {% endblock %}
    {% block form_input %}
    <form class="w3-container" action="/details" method="get">
         <button class="w3-button w3-black" type="submit">Click to Repent</button>
    </form>
    {% endblock %}
</body>
</html>