{% extends "base.html" %}
{% set pesteree = pesteree %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ referee }} {{ referee }} {{ referee }}</title>
</head>
<body>
    {% block h1_text %}
    Dear {{ pesteree }}:
    {% endblock %}
    {% block para_text %}I have been dutifully waiting for you to emerge from your shell.<br>
        It is to my greatest displeasure to inform you that my patience has run out.<br>
        I'm afraid you are being forced to decide on a day to meet.<br>
        No, you do not have an option, unless you would like me to whine and sulk every time you try to talk to me.<br><br>
        <i>On second thought, if you want to get out of this, you can buy me sashimi.</i>
    {% endblock %}
    {% block form_input %}
    <form action="/base" method="get" target="_blank">
         <button type="submit">Click to Repent</button>
    </form>
    {% endblock %}
</body>
</html>