{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sent a Message!</title>
</head>
<body>
    {% block image_block %}<img src="https://c1.wallpaperflare.com/preview/156/371/686/kermit-frog-phone-figure.jpg" alt="happy kermit looking at phone" class="w3-center" style="width:100%;max-width:400px;height:100%;max-height:400px">{% endblock %}
    {% block h1_text %}Ok! I will receive a notification!{% endblock %}
    {% block para_text %}See you soon~!{% endblock %}
</body>
</html>